@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Noto Sans KR",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
}

*:focus {
  outline: none !important;
}

*:active {
  outline: none !important;
}

.ReactModal__Overlay {
  opacity: 0;
  transform: translateY(-50%);
  transition: all 450ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(-500px);
}

table {
  border-width: 2px !important;
  table-layout: fixed !important;
}

td {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap;
}

.timetable>tbody>tr>td {
  width: 65px;
  max-width: 60px !important;
  font-size: 11px;
}

@media (max-width: 768px) {
  .timetable>tbody>tr>td {
    width: 40px;
    max-width: 45px !important;
    font-size: 10px;
  }
}